### Name : Saurabh Pandey
### S.ID    : S996
### SQL Queries using PyMySQL

In [ ]:
!pip install pymysql
import pymysql

# Connecting to the MySQL server
conn = pymysql.connect(host="localhost",user="root",password="Pand@2424",db="cleaned_covid")

cursor = conn.cursor()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.9/dist-packages (1.0.3)

OperationalError: ignored

In [ ]:
# Create a database named covid_data
sql = "CREATE DATABASE covid_data"
cursor.execute(sql)

In [ ]:
# Connect to the database covid

connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')
cursor = connection.cursor()

In [ ]:
# Create a table
sql = "CREATE TABLE covid (Ind_ID int,Test_date date,Cough_symptoms varchar(127),Fever varchar(127),Sore_throat varchar(127),Shortness_of_breath varchar(127),Headache varchar(127),Corona varchar(127),Age_60_above varchar(127),Gender varchar(127),Known_contact varchar(127))"
cursor.execute(sql)

# Commit the changes to the database
connection.commit()

# Close the connection
connection.close()

In [ ]:
import pandas
df = pandas.read_csv('D:\python files, assignment\covid1.csv')

C:\Users\exper\AppData\Local\Temp\ipykernel_3276\3953132670.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv('D:\python files, assignment\covid1.csv')

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password='Govind_Jha1', database='covid_data')
cursor = conn.cursor()

cols = ",".join(df.columns)

# Iterate over the rows of the dataframe
for i, row in df.iterrows():
    # Create the values string for the insert statement
    values = ",".join(["'" + str(x) + "'" for x in row.tolist()])

    # Execute the insert statement
    sql = "INSERT INTO covid ({}) VALUES ({})".format(cols, values)
    cursor.execute(sql)
    conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

**Ques 1. Find the number of corona patients who faced shortness of breath.**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select count(*) from covid where corona = 'positive' and Shortness_of_breath = 'true'"

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(1162,)


**Ques 2. Find the number of negative corona patients who have fever and sore_throat.**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select count(*) from covid where corona = 'negative' and Fever = 'true' and Sore_throat = 'true'"

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(121,)

**Ques 3. Group the data by month and rank the number of positive cases.**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()
query = "SELECT MONTH(Test_date) AS month, COUNT(*) AS positive_cases FROM (select * from covid where corona = 'positive') abc GROUP BY MONTH(Test_date) ORDER BY positive_cases DESC"
cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(4, 8862)
(3, 5832)

**Ques 4. Find the female negative corona patients who faced cough and headache.**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select * from covid where corona = 'negative' and Cough_symptoms = 'true' and Headache = 'true' and Gender = 'female'"

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(13756, datetime.date(2020, 3, 22), 'True', 'True', 'True', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(17289, datetime.date(2020, 3, 22), 'True', 'True', 'True', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(17657, datetime.date(2020, 3, 23), 'True', 'False', 'True', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(19554, datetime.date(2020, 3, 23), 'True', 'True', 'False', 'False', 'True', 'negative', 'No', 'female', 'Other')
(19615, datetime.date(2020, 3, 23), 'True', 'False', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(20248, datetime.date(2020, 3, 23), 'True', 'True', 'False', 'False', 'True', 'negative', 'Yes', 'female', 'Abroad')
(20253, datetime.date(2020, 3, 23), 'True', 'True', 'False', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(37904, datetime.date(2020, 3, 27), 'True', 'True', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(40616, datetime.date(2020, 3, 27), 'True', 'False', 'False', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(40752, datetime.date(2020, 3, 27), 'True', 'True', 'False', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(43650, datetime.date(2020, 3, 28), 'True', 'False', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(49678, datetime.date(2020, 3, 29), 'True', 'True', 'False', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(51034, datetime.date(2020, 3, 29), 'True', 'False', 'False', 'False', 'True', 'negative', 'Yes', 'female', 'Contact with confirmed')
(52740, datetime.date(2020, 3, 29), 'True', 'True', 'True', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(57155, datetime.date(2020, 3, 30), 'True', 'False', 'True', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(58101, datetime.date(2020, 3, 30), 'True', 'False', 'True', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(70026, datetime.date(2020, 4, 1), 'True', 'True', 'False', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(76125, datetime.date(2020, 4, 1), 'True', 'True', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(84586, datetime.date(2020, 4, 3), 'True', 'False', 'True', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(86104, datetime.date(2020, 4, 3), 'True', 'False', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(86109, datetime.date(2020, 4, 3), 'True', 'False', 'False', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(86145, datetime.date(2020, 4, 3), 'True', 'False', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(100555, datetime.date(2020, 4, 5), 'True', 'False', 'False', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(122243, datetime.date(2020, 4, 9), 'True', 'True', 'False', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(133573, datetime.date(2020, 4, 11), 'True', 'False', 'True', 'True', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(135059, datetime.date(2020, 4, 11), 'True', 'True', 'True', 'False', 'True', 'negative', 'Yes', 'female', 'Abroad')
(137748, datetime.date(2020, 4, 12), 'True', 'True', 'True', 'False', 'True', 'negative', 'No', 'female', 'Contact with confirmed')
(145561, datetime.date(2020, 4, 13), 'True', 'False', 'False', 'False', 'True', 'negative', 'No', 'female', 'Other')
(149178, datetime.date(2020, 4, 13), 'True', 'False', 'False', 'False', 'True', 'negative', 'No', 'female', 'Abroad')
(163207, datetime.date(2020, 4, 16), 'True', 'False', 'False', 'False', 'True', 'negative', 'nan', 'female', 'Contact with confirmed')
(168703, datetime.date(2020, 4, 16), 'True', 'False', 'True', 'True', 'True', 'negative', 'nan', 'female', 'Contact with confirmed')
(244441, datetime.date(2020, 4, 25), 'True', 'False', 'False', 'False', 'True', 'negative', 'nan', 'female', 'Contact with confirmed')


**Ques 5. How many elderly corona patients have faced breathing problems?**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select count(*) from covid where corona = 'positive' and  Shortness_of_breath = 'true' and Age_60_above = 'yes'"

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(262,)


**Ques 6. Which three symptoms were more common among COVID positive patients?**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = """ select * from (
    select cough_symptoms , count(*) as cnt from covid where corona = 'positive' and cough_symptoms ='True'
    union all
    select  Fever, count(*) as cnt from covid where corona = 'positive' and Fever ='True'
    union all
    select  Sore_throat, count(*) as cnt from covid where corona = 'positive' and Sore_throat ='True'
    union all
    select  Shortness_of_breath, count(*) as cnt from covid where corona = 'positive' and Shortness_of_breath ='True'
    union all
    select  Headache, count(*) as cnt from covid where corona = 'positive' and Headache ='True'
   ) abc order by cnt desc

"""
cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

('True', 6582)
('True', 5558)
('True', 2230)
('True', 1523)
('True', 1162)

**Top 3 symptoms are Coughness,Fever and Headache are most common symptoms**


# **Ques 7. Which symptom was less common among COVID negative people?**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = """ select * from (
    select cough_symptoms , count(*) as cnt from covid where corona = 'negative' and cough_symptoms ='True'
    union all
    select  Fever, count(*) as cnt from covid where corona = 'negative' and Fever ='True'
    union all
    select  Sore_throat, count(*) as cnt from covid where corona = 'negative' and Sore_throat ='True'
    union all
    select  Shortness_of_breath, count(*) as cnt from covid where corona = 'negative' and Shortness_of_breath ='True'
    union all
    select  Headache, count(*) as cnt from covid where corona = 'negative' and Headache ='True'

    ) abc order by cnt
"""
cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

('True', 147)
('True', 365)
('True', 384)
('True', 15816)
('True', 34987)

**Shortness of breath , Headache and Sore_throat was less common amongst covid negative people**


## **Ques 8. What are the most common symptoms among COVID positive males whose known contact was abroad?**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = """
    select cough_symptoms , count(*) as cnt from covid
    where corona = 'positive' and cough_symptoms ='True'
    and gender = 'male' and known_contact = 'Abroad'
    union all
    select  Fever, count(*) as cnt from covid
    where corona = 'positive' and Fever ='True'
    and gender = 'male' and known_contact = 'Abroad'
    union all
    select  Sore_throat, count(*) as cnt from covid
    where corona = 'positive' and Sore_throat ='True'
    and gender = 'male' and known_contact = 'Abroad'
    union all
    select  Shortness_of_breath, count(*) as cnt from covid
    where corona = 'positive' and Shortness_of_breath ='True'
    and gender = 'male' and known_contact = 'Abroad'
    union all
    select  Headache, count(*) as cnt from covid
    where corona = 'positive' and Headache ='True'
    and gender = 'male' and known_contact = 'Abroad'


"""
cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

('True', 739)
('True', 608)
('True', 155)
('True', 150)
('True', 209)

**Cough and fever are the most common amongst patient with abroad contact**

## **--Number of positive patients having all the symptoms**

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select count(*) from covid where corona = 'positive' and Cough_symptoms = 'true' and Fever = 'true' and Sore_throat = 'true' and  Shortness_of_breath = 'true' and  Headache = 'true' "

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(89,)

## ----Number of negative patients having all the symptoms

In [ ]:
connection = pymysql.connect(host='localhost',user='root',password='Govind_Jha1',db='covid_data')

cursor = connection.cursor()

sql = "select count(*) from covid where corona = 'negative' and Cough_symptoms = 'true' and Fever = 'true' and Sore_throat = 'true' and  Shortness_of_breath = 'true' and  Headache = 'true' "

cursor.execute(sql)

results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection when you're done
connection.close()

(4,)